#btn-submit:hover {
    background: rgb(160, 160, 160);
    color: rgb(40, 40, 40);
}

footer:hover {
    transition: 0.2s;
    padding-bottom: 5px;
}

footer:hover>h2 {
    background: url('../img/Logo.png') center/cover;
    transition: 1s;
    padding: 5px;
    padding-left: 40px;
}

.section:hover {
    background: rgb(33, 34, 34);
    color: aliceblue;
    
    transition: 0.2s;
}

.section_2:hover {
    background: rgb(33, 34, 34);
    color: aliceblue;
    
    transition: 0.2s;
}

.section:hover>h2 {
    padding: 5px;
    padding-left: 40px;

    background: url('../img/Logo.png') center/cover;
    transition: 1s;
}

.section_2:hover>h2 {
    padding: 5px;
    padding-left: 40px;

    background: url('../img/Logo.png') center/cover;
    transition: 1s;
}

.section:hover>p {
    color: aliceblue;
    transition: 0.2s;
    
}

.section:hover>.container {
    transition: 0.2s;
    background: rgb(33, 34, 34);
}

