@media screen and (max-width: 1000px) {
    
    .container {
        width: 720px;
        transition: 0.2s;
    }

    .onglets {
        width: 240px;
        transition: 0.2s;
    }
}

@media screen and (max-width: 750px) {
    .container {
        width: 660px;
        transition: 0.2s;
    }

    .onglets {
        width: 220px;
        transition: 0.2s;
    }

    .grid-container {
        flex-direction: column;
        align-items: center;
    }


}


@media screen and (max-width: 650px) {
    h1 {
        font-size : 30px;
        transition: 0.5s;
    }
    .container {
        width: 480px;
        transition: 0.2s;
    }

    .onglets {
        width: 160px;
        transition: 0.2s;
        font-size: 15px;
    }


}

@media screen and (max-width: 400px) {

    h1 {
        font-size: 20px;
        transition: 0.5s;
    }


    .container {
        width: 180px;
        transition: 0.2s;
    }

    .onglets {
        width: 60px;
        transition: 0.2s;
    }

    .grid-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 10px;
        transition: 0.5s;
    }


    .container {
        width: 240px;
        transition: 0.2s;
    }

    .contenu p {
        font-size: 5px;
    }

    .contenu h3 {
        font-size: 5px;
    }

    .onglets {
        width: 80px;
        transition: 0.2s;
        font-size: 5px;
    }

    .grid-container {
        flex-direction: column;
        align-items: center;
    }
}