@media screen and (max-width: 1000px) {
    .container {
        width: 720px;
        transition: 0.2s;
    }

    .onglets {
        width: 240px;
        transition: 0.2s;
    }
}

@media screen and (max-width: 750px) {
    .container {
        width: 660px;
        transition: 0.2s;
    }

    .onglets {
        width: 220px;
        transition: 0.2s;
    }

    .grid-container {
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 10%;
    }
}


@media screen and (max-width: 650px) {
    .container {
        width: 480px;
        transition: 0.2s;
    }

    .onglets {
        width: 160px;
        transition: 0.2s;
        font-size: 15px;
    }


}

@media screen and (max-width: 400px) {
    .container {
        width: 180px;
        transition: 0.2s;
    }

    .onglets {
        width: 60px;
        transition: 0.2s;
    }

    .grid-container {
        flex-direction: column;
        align-items: center;
    }
}