#btn-submit:hover {
    background: rgb(160, 160, 160);
    color: rgb(40, 40, 40);
}

footer:hover {
    transition: 0.2s;
    padding: 10px;
}

footer:hover>h2 {
    background: url('./Logo.png') center/cover;
    transition: 1s;
}

.section:hover {
    background: rgb(64, 66, 66);
    color: aliceblue;
    padding: 10px;
    transition: 0.2s;
}

.section:hover>h2 {
    padding: 8px;
    padding-left: 100px;

    background: url('./Logo.png') center/cover;
    transition: 1s;
}

.section:hover>p {
    color: aliceblue;
    transition: 0.2s;
}

.section:hover>.container {
    margin-top: 20px;
    transition: 0.2s;
    background: rgb(64, 66, 66);
}

.section:hover>.active {
    background: rgb(110, 110, 130);
    transition: 0.2s;
}