html {
	scroll-behavior: smooth;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

body {
    background-color: #222;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

h1 {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

p {
	font-family: "Roboto", Arial, sans-serif;
	color: white;
}


.logo {
    font-size: 24px;
    text-align: center;
    color:white;
}

.hero {
    background-image: url("PLC\ inf\ 1.jpeg");
    background-size: cover;
    color: white;
    text-align: center;
    font-family:"Helvetica Neue", Arial, sans-serif;
    padding: 200px 0;
}

.hero h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero p {
	font-size: 15px;
	color: white;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}

.features {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

.feature {
	flex-basis: 40%;
	text-align: center;
    color: white;
}

.feature img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.feature h3 {
	font-size: 24px;
	margin-bottom: 15px;
    color:white;
}

.feature p {
	font-size: 15px;
    color: white;
}

.footer {
	background-color: #111;
	color: white;
	text-align: center;
	padding: 10px;
}

.footer p{
    text-align: justify;
}

.center-img {
    display: grid;
    grid-template-columns: repeat (auto-fit, minmax(250px,lfr));
    grid-gap: 10px;
}
